{% extends 'base.html' %}
{% load static %}
{% block content %}

<main id="carer" class="main-styling">
  <div class="container">
    <div class="section-header text-center pb5">
      <h2>Discover Your Household Green Guardians</h2>
      <p>Discover the dedicated individuals responsible for tending to the green 
        life within your home. </p>
    </div>
    <div class="wrapper">
      {% for carer in carer_list %}
      <div class="product-area">
        <div class="img-area">
          <img src="{% static 'images/avt.png' %}" alt="placeholder image">
          <div class="product-overlay">
            <div class="overlay">
              <a href="{% url 'carers_detail' carer.id %}" class="btn-1">View Details</a>
            </div>
          </div>
        </div>
        
        <div class="info-area">
          <h3>{{ carer.name }}</h3>
          <span class="span-list">Known as:</span>
          <span class="span-list">{{ carer.nickname }}</span>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</main>
       
{% endblock %}