{% extends 'base.html' %}

{% block content %}

<main id="carer-delete" class="main-styling">
  <div class="container">
      <div class="wrapper-details">
        <div class="details-profile">
          <div class="info-area">
            <span class="span-list">Are you sure you want to delete {{ object.name }}?</span>
          </div>
          <h4></h4>
          <form action="" method="POST" class="text-center">
            {% csrf_token %}
            <input type="submit" value="Yes" class="btn btn-secondary text-white">
            <!-- provides the exit clause in case user error -->
            <a href="{% url 'carers_detail' object.id %}" class="no-underline">Cancel</a>
          </form>
      </div>
      </div>
    </div>
</main>
{% endblock %}