{% extends 'base.html' %}
{% load static %}
{% block content %}

<main id="carer" class="main-styling">
  <div class="container">
    <div class="section-header text-center pb5">
      <h2>Getting to know {{ object.name }}</h2>
      <div class="wrapper-details">
        <div class="details-profile">
          <div class="img-area-detail">
            <!-- profile -->
            {% for photo in carer.photo_set.all %}
              <img class="rounded" src="{{photo.url}}">
            {% empty %}
              <img src="{% static 'images/avt.png' %}" alt="placeholder image">
            {% endfor %}
          </div>
          
          <div class="info-area">
            <span class="span-list">Known around the house as '{{ object.nickname }}'</span>
          </div>

          <!-- buttons -->
          <!-- photo upload -->
          <!-- Button to open the overlay -->
          <button class="btn btn-secondary text-white" onclick="openOverlay()">Add Photo</button>

          <div id="overlay" class="overlay-container">
            <!-- Overlay content: Add Photo form -->
            <div class="overlay-content">
            <form
              id="photoForm"
              action="{% url 'add_photo' carer.id %}"
              enctype="multipart/form-data"
              method="POST"
              class="card-panel"
            >
              {% csrf_token %}
              <input type="file" name="photo-file">
              <br><br>
              <button type="submit" class="btn">Upload Photo</button>
            </form>
        

            <!-- Button to close the overlay -->
            <button class="btn btn-secondary text-white" onclick="closeOverlay()">Close</button>
            </div>
          </div>

          <a href="{% url 'carers_update' carer.id %}" class="btn btn-secondary text-white">Edit</a>
          <a href="{% url 'carers_delete' carer.id %}" class="btn btn-secondary text-white">Delete</a>
        </div>
      </div>
    </div>
  </div>
</main>

<script>
  function openOverlay() {
    document.getElementById("overlay").style.display = "block";

    // Add event listener for form submission
    document.getElementById("photoForm").addEventListener("submit", function () {
      // Close the overlay upon successful form submission
      closeOverlay();
    });
  }

  function closeOverlay() {
    document.getElementById("overlay").style.display = "none";
  }
</script>

{% endblock %}
