{% extends 'base.html' %}
{% load static %}
{%  block content %}


<main id="add-plant" class="main-styling">
    <div class="container">
        <div class="section-header text-center pb5">
            {% if object %}
            <h2>Edit {{ plants.name }}</h2>
            {% else %}
            <h2>Add a plant</h2>
            {% endif %}
        </div>

        <form action="" method="POST" class="text-black">
            {% csrf_token %}
           
                {{ form.as_div }}

            <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">Example label</label>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input placeholder">
            </div>
            <input type="submit" value="Submit" class="btn btn-secondary">
        </form>


            
                
                
             
 
</main>
{% endblock%}