{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Section: About author -->
<section class="mb-10">
    <div class="container">

      <div class="row gx-0 align-items-center">
        <div class="col-lg-1"></div>

        <div class="col-lg-10 mb-5 mb-lg-0">
          <img src="{% static 'images/brina-blum-s5-NmxNA-7c-unsplash.jpg' %}" class="w-100" alt="xx" />
        </div>

        <div class="col-lg-1"></div> 
      </div>

      <div class="row gx-0 align-items-center">
        <div class="col-lg-1"></div>

        <div class="col-lg-10 mb-5 mb-lg-0">
          <div class="card me-lg-n5">
            <div class="card-body p-lg-5">

                <h2 class="fw-bold">
                  <span class="text-muted">{{ plant.name }}'s care</span>
                </h2>
                <p class="text-muted text-start no-underline">
                  Plant type: {{ plant.plant_type }}
                  Plant location: {{ plant.location }}
                  <!-- is_healthy condition-->
                  {% if plant.is_healthy %}
                      <p class="card-text text-success text-start no-underline">I'm feeling healthy</p>
                  {% else %}
                      <p class="card-text text-danger text-start no-underline">Help! I'm in need of a bit more love</p>
                  {% endif %}
                </p>

                  <!-- edit/delete btns -->
                  <br>
                  <a href="{% url 'plants_update' plant.id %}" class="btn btn-secondary text-white">Edit</a>
                  <a href="{% url 'plants_delete' plant.id %}" class="btn btn-secondary text-white">Delete</a>

            </div>
          </div>
        </div>
        
        <div class="col-lg-1"></div>
      </div>
        
      <!-- PlantCare-->
      <div class="row gx-0 align-items-center">
        <div class="col-lg-1"></div>

        <div class="col-lg-10 mb-5 mb-lg-0">
          <div class="card me-lg-n5">
            <div class="card-body p-lg-5">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Water given</th>
                    <th scope="col">Fertilizer given</th>
                    <th scope="col">Fertilizer Type</th>
                  </tr>
                </thead>
                <tbody>
                  {% for watering in plant.plantcare_set.all %}
                    <tr>
                      <td>{{ watering.date }}</td>
                      <td>{{ watering.water_amount }}</td>
                      <!-- give_fertilizer condition-->
                      {% if watering.give_fertilizer %}
                      <td>Yes</td>
                      {% else %}
                      <td>No</td> 
                      {% endif %}
                      <td>{{ watering.get_fertilizer_display }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
 
            </div>
          </div>
        </div>
        
        <div class="col-lg-1"></div>
      </div>
    </div>
  </section>
 
{% endblock %}