{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Section: About author -->
<section class="mb-10">
    <div class="container">

      <div class="row gx-0 align-items-center">
        <div class="col-lg-1"></div>

        <div class="col-lg-10 mb-5 mb-lg-0">
          <img src="{% static 'images/brina-blum-s5-NmxNA-7c-unsplash.jpg' %}" class="w-100" alt="xx" />
        </div>

        <div class="col-lg-1"></div> 
      </div>

      <div class="row gx-0 align-items-center">
        <div class="col-lg-1"></div>

        <div class="col-lg-10 mb-5 mb-lg-0 ">
          <div class="card me-lg-n5">
            <div class="card-body p-lg-5">

                <h2 class="fw-bold">
                  <span class="text-muted">{{ plant.name }}'s care</span>
                </h2>
                <p class="text-muted text-start no-underline">
                  Plant type: {{ plant.plant_type }}
                  Plant location: {{ plant.location }}
                  <!-- is_healthy condition-->
                  {% if plant.is_healthy %}
                      <p class="card-text text-success text-start no-underline">Health: I'm feeling healthy</p>
                  {% else %}
                      <p class="card-text text-danger text-start no-underline">Health: Help! I'm in need of a bit more love overall as I don't look great</p>
                  {% endif %}
                </p>
                  <!-- watering logic -->
                    {% if plant.watered_this_week %}
                    <p class="card-text text-success text-start no-underline">Weekly care: {{plant.name}} has had their watering this week</p>
                    {% else %}
                    <p class="card-text text-danger text-start no-underline">Weekly care: {{plant.name}} might need a bit of water</p>
                    {% endif %}

                  <!-- edit/delete btns -->
                  <br>
                  <a href="{% url 'plants_update' plant.id %}" class="btn btn-secondary text-white">Edit</a>
                  <a href="{% url 'plants_delete' plant.id %}" class="btn btn-secondary text-white">Delete</a>

            </div>
          </div>
        </div>
        
        <div class="col-lg-1"></div>
      </div>
        
      <!-- PlantCare-->
      <div class="row gx-0 align-items-center">
        <div class="col-lg-1"></div>

        <div class="col-lg-10 mb-5 mb-lg-0 mt-1">
          <div class="card me-lg-n5">
            <div class="card-body p-lg-5">
              <h2 class="fw-bold">
                <span class="text-muted">Care schedule</span>
              </h2>
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Water given</th>
                    <th scope="col">Fertilizer given</th>
                    <th scope="col">Fertilizer Type</th>
                  </tr>
                </thead>
                <tbody>
                  {% for watering in plant.plantcare_set.all %}
                    <tr>
                      <td>{{ watering.date }}</td>
                      <td>{{ watering.water_amount }}</td>
                      <!-- give_fertilizer condition-->
                      {% if watering.give_fertilizer %}
                      <td>Yes</td>
                      {% else %}
                      <td>No</td> 
                      {% endif %}
                      <td>{{ watering.get_fertilizer_display }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
 
            </div>
          </div>
        </div>
        
        <div class="col-lg-1"></div>
      </div>

      <!-- CareForm-->
      <div class="row gx-0 align-items-center">
        <div class="col-lg-1"></div>

        <div class="col-lg-10 mb-5 mb-lg-0 text-black text-start mt-1">
          <div class="card me-lg-n5">
            <div class="card-body p-lg-5">
            <form action="{% url 'add_care' plant.id %}" method="POST">
              {% csrf_token %}
              <!-- Render the inputs -->
              {{ care_form.as_p }}
              <input type="submit" class="btn btn-secondary text-white" value="Add Care">
            </form>
            </div>
          </div>
        </div>
        
        <div class="col-lg-1"></div>
      </div>

  <!-- assoc carers with plants -->
  <div class="row gx-0 align-items-center">
    <div class="col-lg-1"></div>

  <div class="col s6">
    <h3>Who should look after me:</h3>
    {% if carers.count %}
      {% for carer in carers.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              <span>{{ carer.name }} aka '{{ carer.name }}'</span> 
            </span>
          </div>

          <div class="card-action">
            <form action="{% url 'assoc_carer' plant.id carer.id %}" method="POST">
              {% csrf_token %}
              <button type="submit" class="btn btn-secondary text-white">Add</button>
            </form>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>{{plant.name}} is well looked after - everyone in the house is responsible
        for their care</h5>
    {% endif %}
  </div>  
    <div class="col-lg-1"></div>
  </div>

    
  <div class="row gx-0 align-items-center">
    <div class="col-lg-1"></div>

    <div class="col s6">
      <h3>{{ plant.name }} is looked after by:</h3>
      <!-- list of carers  -->
      <!-- if there are plants in count -->
      {% if plant.carers.count %}
        {% for carer in plant.carers.all %}
          <div class="card">
            <div class="card-content">
              <span class="card-title">
                <span>{{ carer.name }}</span>
              </span>
            </div>
            <!-- remove carers from plants-->
            <div class="card-action">
              <form action="{% url 'remove_carer' plant.id carer.id %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-secondary text-white">Remove</button>
              </form>
            </div>

          </div>
        {% endfor %}
      {% else %}
        <h5>Help someone needs to look after me</h5>
      {% endif %}
    </div>

    <div class="col-lg-1"></div>
  </div>

  </div>
  </section>

  <!-- client side Javascript -->
  <!-- not sure how to add the relevant picker class to the above - if statement? -->
  <script type="text/javascript">
    $(function () {
        $('#picker').datetimepicker();
    });
 </script>
 
{% endblock %}