{% extends 'base.html' %}
{% load static %}
{% block content %}

<main id="carer" class="main-styling">
  <div class="container">
    <div class="section-header text-center pb5 mt-3 mt-3">
      <h2>All the plants under your care</h2>
      <p>Discover the dedicated individuals responsible for tending to the green 
        life within your home. </p>
    </div>
    <div id="plant_wrapper" class="wrapper">
      {% for plant in plants %}
      <div class="product-area">
        <div class="img-area">
          <img src="{% static 'images/avt.png' %}" alt="">
          <div class="product-overlay">
            <div class="overlay">
              <a href="{% url 'details' plant.id %}" class="btn-1">View Details</a>
            </div>
          </div>
        </div>
        
        <div class="info-area">
          <h3>{{ plant.name }}</h3>
          <span class="span-list"><span class="fw-bold">Plant type:</span> {{ plant.plant_type }}</span>
          <span class="span-list"><span class="fw-bold">Plant location:</span>  {{ plant.location }}</span>
          <!-- is_healthy condition-->
          {% if plant.is_healthy %}
            <span class="span-list">I'm feeling healthy</span>
          {% else %}
            <span class="span-list text-danger">Help! I'm in need of a bit more attention</p>
          {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>
</div>
</main>

{% endblock %}