{% extends 'base.html' %}
{% load static %}
{% block content %}

    <main id="about" class="main-styling">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-12 col-12">
                    <div class="about-img">
                        <img src="{% static 'images/brooke-cagle-NoRsyXmHGpI-unsplash.jpg' %}" alt="" class="img-fluid">
                    </div>
                </div>

                <div class="col-lg-8 col-md-12 col-12 ps-lg-5 mt-md-5">
                    <div class="about-text">
                        <h2 id="id_h2">About us</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos adipisci illum ab soluta quasi deserunt provident debitis praesentium totam, quidem pariatur sit rem commodi repudiandae voluptates voluptatem nisi labore laboriosam!</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos adipisci illum ab soluta quasi deserunt provident debitis praesentium totam, quidem pariatur sit rem commodi repudiandae voluptates voluptatem nisi labore laboriosam!</p>
                    </div>

                </div>

            </div>
        </div>

    </section>


{% endblock %}