{% extends 'base.html' %}
{% load static %}
{% block content %}

    <main id="about" class="main-styling">
        <div class="container">
            <div class="row mt-1 mb-3">
                <div class="col-lg-4 col-md-12 col-12">
                    <div class="about-img-1">
                        <img src="{% static 'images/brooke-cagle-NoRsyXmHGpI-unsplash.jpg' %}" alt="" class="img-fluid">
                    </div>
                </div>

                <div class="col-lg-8 col-md-12 col-12 ps-lg-5 mt-md-5 about-parent">
                    <div class="about-text-1">
                        <h2 class="about-h2">About us</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos adipisci illum ab soluta quasi deserunt provident debitis praesentium totam, quidem pariatur sit rem commodi repudiandae voluptates voluptatem nisi labore laboriosam!</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos adipisci illum ab soluta quasi deserunt provident debitis praesentium totam, quidem pariatur sit rem commodi repudiandae voluptates voluptatem nisi labore laboriosam!</p>
                    </div>
                </div>
            </div>
            <div class="row mt-1 mb-3">
                <div class="col-lg-8 col-md-12 col-12 ps-lg-5 mt-md-5 about-parent">
                    <div class="about-text-2">
                        <h2 class="about-h2">More about us</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos adipisci illum ab soluta quasi deserunt provclassent debitis praesentium totam, quidem pariatur sit rem commodi repudiandae voluptates voluptatem nisi labore laboriosam!</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos adipisci illum ab soluta quasi deserunt provident debitis praesentium totam, quidem pariatur sit rem commodi repudiandae voluptates voluptatem nisi labore laboriosam!</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-12">
                    <div class="about-img-2">
                        <img src="{% static 'images/brooke-cagle-NoRsyXmHGpI-unsplash.jpg' %}" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
            <div class="row mt-1 mb-3">
                <div class="col-lg-4 col-md-12 col-12">
                    <div class="about-img-1">
                        <img src="{% static 'images/brooke-cagle-NoRsyXmHGpI-unsplash.jpg' %}" alt="" class="img-fluid">
                    </div>
                </div>
        
                <div class="col-lg-8 col-md-12 col-12 ps-lg-5 mt-md-5 about-parent">
                    <div class="about-text-1">
                        <h2 class="about-h2">And even more</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos adipisci illum ab soluta quasi deserunt provident debitis praesentium totam, quidem pariatur sit rem commodi repudiandae voluptates voluptatem nisi labore laboriosam!</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos adipisci illum ab soluta quasi deserunt provident debitis praesentium totam, quidem pariatur sit rem commodi repudiandae voluptates voluptatem nisi labore laboriosam!</p>
                    </div>
                </div>
            </div>

        </div>
        
    </section>
    

{% endblock %}