{% extends 'base.html' %}
{% load static %}
{% block content %}

<div id="carouselExampleDark" class="carousel slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <img src="{% static 'images/brina-blum-s5-NmxNA-7c-unsplash.jpg' %}" class="d-block w-100" alt="...">
      <div class="carousel-caption">
        <h5>Unique profiles</h5>
        <p>Cultivate a seamless and organized approach to plant care with our unique profiles for each family member. Now, you can assign specific plants to individuals, ensuring tailored attention and fostering a sense of responsibility.</p>
        <p><a href="{% url 'carers_create' %}" class="btn btn-secondary">Add Carer</a></p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="{% static 'images/scott-webb-C6oPXOatFD8-unsplash.jpg' %}" class="d-block w-100" alt="...">
      <div class="carousel-caption">
        <h5>No plant goes unnoticed</h5>
        <p>Discover the full spectrum of your indoor botanical sanctuary with our detailed list of household plants. No plant is overlooked as you explore the diverse array thriving in your home.</p>
        <p><a href="{% url 'index' %}" class="btn btn-secondary">View plants</a></p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/prudence-earl-NwBx723XaHw-unsplash.jpg' %}"  class="d-block w-100" alt="...">
      <div class="carousel-caption">
        <h5>Information in your hands</h5>
        <p>Indulge in a wealth of knowledge about your cherished plants by exploring our comprehensive database. Beyond mere greenery, each plant holds its own story, and now, you have the key to unraveling it. Discover not just their names but also valuable insights, including care instructions and personalized tips tailored to their unique needs. </p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

{% endblock %}