{% extends 'base.html' %}
{% block content %}

    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">Foliage Analyst</h1>
          <p class="lead mt-3">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolor beatae aut commodi perferendis at sed saepe vel impedit officiis fugiat nisi magni nobis ipsum ex, quis eaque est quidem ab?</p>
          <p>
            <!-- <a href="#" class="btn btn-primary my-2">Main call to action</a> -->
            <a href="#" class="btn btn-secondary text-white">Log in</a>
            <a href="#" class="btn btn-secondary text-white">Sign up</a>
          </p>
        </div>
      </div>
    </section>

{% endblock %}