{% extends 'base.html' %}
{% block content %}
<!-- 
    <main class="main_containter">
      <h1>Foliage Analyst</h1>
      <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure ut non amet quo quas ad quibusdam quidem suscipit repudiandae natus, adipisci reprehenderit veniam quasi quia id eaque earum? Ipsam, aut.</p>
      <p class="lead">
        <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Learn more</a>
      </p>
    </main> -->
 
    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">AFoliage Analyst</h1>
          <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolor beatae aut commodi perferendis at sed saepe vel impedit officiis fugiat nisi magni nobis ipsum ex, quis eaque est quidem ab?</p>
          <p>
            <!-- <a href="#" class="btn btn-primary my-2">Main call to action</a> -->
            <a href="#" class="btn btn-secondary my-2">Secondary action</a>
          </p>
        </div>
      </div>
    </section>

{% endblock %}